@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Helvetica, system-ui, sans-serif;
  }
}

@layer utilities {
  .h-screen-without-nav {
    height: calc(100vh - theme('spacing.26'));
  }

  .text-responsive-lg {
    font-size: clamp(
      1rem,
      0.7906403940886699rem + 0.7881773399014778vw,
      1.5rem
    );
  }

  .text-responsive-xl {
    font-size: clamp(
      1.25rem,
      0.09852216748768483rem + 4.334975369458128vw,
      4rem
    );
  }
}
